.sidebar_maps {
	display: flex;
	flex-direction: column;
}
.sidebar_maps_h3 {
	color: hsl(var(--hsl-l1));
	padding: 10px 0;
}

.map_list {
	display: flex;
	flex-direction: column;
}

.osu_map {
	display: flex;
	gap: 8px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px 10px;
	width: calc(100% + 20px);
	transition: background-color .2s;
}
.osu_map:hover {
	background-color: rgba(200, 200, 200, .2);
}

.osu_map .map_thumb {
	border-radius: 5px;
	background-size: cover;
	width: 70px;
	height: 60px;
}
.osu_map .map_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	overflow: hidden;	
	white-space: nowrap;
}
	.mapinfo_title {
		overflow: hidden;	
		text-overflow: ellipsis;
		font-weight: 600;
	}
	.mapinfo_author {
		font-size: 12px;
		font-weight: 400;
	}
	.mapinfo_extra {
		font-size: 12px;
		font-weight: 400;
	}
.osu_map .map_arrow {
	width: fit-content;
	margin-right: -10px;
	display: flex;
	align-items: center;
}
	.map_arrow img {
		filter: brightness(.5);
		transition: filter .2s;
		transform: rotate(-90deg);
		height: 30px;
		width: 30px;
	}
	.osu_map:hover .map_arrow img {
		filter: brightness(.7);
	}